@import "tailwindcss";

/* Hide scrollbar */
/* for chrome browser */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* for firefox browser */
.scrollbar-hide {
  scrollbar-width: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-secondary: #f3c614;
  --color-primary: #006994;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
